@import "./prebuilt.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	@apply scroll-smooth;
	scroll-padding-top: 12rem;

	::-webkit-scrollbar {
		@apply w-2;
	}

	::-webkit-scrollbar-track {
		@apply bg-transparent;
	}

	::-webkit-scrollbar-thumb {
		@apply bg-secondary;
	}

	::-webkit-scrollbar-thumb:hover {
		@apply bg-white;
	}
}

body {
	@apply bg-primary overflow-x-hidden bg-cover bg-no-repeat bg-top;
	background-image: url(/img/bg.png);
}

h1,
h2 {
	@apply mb-2 font-bold font-heading drop-shadow-text;
}

h2 {
	@apply text-white lg:text-7xl text-4xl;
}

h3 {
	@apply text-white mb-4 lg:text-3xl font-sub drop-shadow-text font-thin;
}

p {
	@apply max-w-[75ch] mb-4 last:mb-0 font-body text-white md:text-lg;
}

a {
	@apply break-all;
}

ul {
	@apply font-body;
}

.flex-center {
	@apply flex justify-center items-center;
}
