@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Do Hyeon", sans-serif;
	@apply text-white bg-primary overflow-x-hidden;
}

h2 {
	@apply md:text-6xl text-5xl uppercase;
}

h3 {
	@apply md:text-5xl text-4xl uppercase tracking-wider mb-4;
}

p {
	@apply mb-3 last:mb-0 text-txt;
}

a {
	@apply text-white hover:text-secondary transition-all duration-200 ease-out inline-block max-w-max;
}

ul {
	@apply list-item list-disc;
}

li {
	@apply max-w-[35ch] mb-4 last:mb-0 text-txt;
}

.rc-slider-track {
	@apply bg-secondary h-2 !important;
}
.rc-slider-rail {
	@apply bg-gray-400 h-2 filter drop-shadow-text  !important;
}
.rc-slider-step {
	@apply h-2 !important;
}
.rc-slider-handle {
	@apply w-auto h-auto flex justify-center items-center mt-0 bottom-1/2 top-1/2 !important;
	:active {
		@apply shadow-none !important;
	}
}

.light-text {
	@apply text-sm italic;
	font-family: "DM Serif Text", serif;
}
.banger {
	font-family: "Bangers", cursive;
}

.faq {
	p {
		@apply lg:!text-black;
	}
}

a {
	svg {
		@apply text-3xl hover:scale-105 transition-all duration-300 ease-linear transform;
	}
}

::-webkit-scrollbar {
	@apply w-2 bg-white bg-opacity-5;
}

::-webkit-scrollbar-track {
	border-radius: 0;
}

::-webkit-scrollbar-thumb {
	@apply bg-secondary rounded-full;
}
